/*!
 * TophemanSquares
 * http://squares.topheman.com/
 *
 * Copyright 2012, Christophe Rosset (Topheman)
 * http://blog.topheman.com/
 * http://twitter.com/topheman
 *
 * game.css
 */

 body{
     background-color: #EFEFEF;
 }
 #canvas-wrapper{
    display:block;
    margin:0px auto;
    width:650px;
    height: 650px;
}
canvas{
    /*border:1px solid black;*/
}
 a{
     color:#900000;
 }
 footer p{
     display: none;
     font-family: Arial,Helvetica,sans-serif;
     text-align: center;
     font-size: 10px;
 }


